@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply cursor-pointer hover:bg-[#ddcfc0] rounded-full w-auto xl:w-auto h-[52-px] xl:h-auto xl:p-3;
  }

  .myname {
    font-family: serif,san-serif;
    color: black;
  }

  .home_img {
    box-shadow: inset 0 0 0 9px rgb(255 255 255/30%);
    animation: profile_animate 8s ease-in-out infinite 1s;
  }

  @keyframes profile_animate {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40% /50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
  --background-all: #d5e0ff;
  --bg-img:url('/2.svg')
  --thick-border: #7e5fed;
  --light-border: #d5dcff;
  --texts: #8163ec;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-all);
  background-image: var(--bg-img);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

{
  border: 2px solid black;
}
