@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply cursor-pointer hover:bg-[#DFD7CE] rounded-full w-[52px] xl:w-auto h-[52-px] xl:h-auto xl:p-3;
  }

  .myname {
    font-family: Amatic, cursive;
    color: black;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
  --background-all: #d5e0ff;
  --thick-border: #7e5fed;
  --light-border: #d5dcff;
  --texts: #8163ec;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-all);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
/* {
  border: 1px solid black;
}*/
